@model System.Collections.Generic.List<FftaExtract.Web.Models.YearCompetitionModel>

<ul class="nav nav-tabs" role="tablist">
    @foreach (var year in Model)
    {
        <li>
            <a role="tab" data-toggle="tab" class="year" href="#year@(year.Year)">@year.Year</a>
        </li>
    }
</ul>
<div class="tab-content">
    @foreach (var year in Model)
    {
        <div class="tab-pane fade year" id="year@(year.Year)">
            @foreach (var type in year.Types)
                {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>
                            @type.Info.Type @type.Info.BowType
                            :
                            <span style="color:#1b6bc1">
                                @type.Average
                            </span>
                        </b>
                        <small>
                            (
                            @string.Join(" + ", type.HighScores.Select(h => h.Score).ToArray())
                            ) / 3
                        </small>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        Moyenne par flèche :
                        <span style="color:#1b6bc1">
                            @string.Format("{0:0.00}", type.Info.GetArrowAverage(type.Average))
                        </span>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        Moyenne par volée :
                        <span style="color:#1b6bc1">
                            @string.Format("{0:0.00}", type.Info.GetTirAverage(type.Average))
                        </span>
                    </div>
                    <table class="table sortable">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Compétition</th>
                                <th>Rang</th>
                                <th class="score">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var competition in type.Competitions)
                            {
                                <tr>
                                    <td>@competition.Competition.Begin.ToShortDateString()</td>
                                    <td>
                                        @competition.Competition.CompetitionInfo.Name
                                    </td>
                                    <td>
                                        @competition.Rank
                                    </td>
                                    <td class="score">
                                        @competition.Score
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    }
</div>
