@model FftaExtract.Web.Models.ArcherModel

@{
    ViewBag.Title = Model.Archer.FullName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Archer.FullName</h1>

Arcs :
@foreach (var bow in Model.Bows)
{
    <span>@bow</span>
}

<br />
<br />

<h2>Meilleur scores</h2>
<div class="hightScores clearfix">
    @foreach (var score in Model.BestScores)
    {
        <div class="panel panel-default">
            <div class="panel-heading">@score.CompetitionType @score.BowType</div>
            <div class="panel-body">
                @score.Score
                <small>@score.CompetitionName</small>
            </div>
        </div>
    }
</div>

<h2>Competitions</h2>
@{
    Html.RenderPartial("Competitions", Model.Competitions);
}
